*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:where(body){
    --black: #0f0f0f;
    --white: #F6F6F6;
    --primary: #242DE0;
    --secondary: #E0BB24;
    --blueHover: #dbefff;
    --blueLight: #a8d1f1;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#categoriasSec > h2{
    text-align: center;
    font-size: 30px;
    color: var(--secondary);
}

#categoriasSec div{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 100vw;
}

#categoriasSec figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    aspect-ratio: 1;
    transition: all 200ms;
}

#categoriasSec figure:hover{
    background-color: var(--secondary);
    border-radius: 50%;
    cursor: pointer;
}

#categoriasSec img{
    min-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

