*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:where(body){
    --black: #0f0f0f;
    --white: #F6F6F6;
    --primary: #242DE0;
    --secondary: #E0BB24;
    --blueHover: #dbefff;
    --blueLight: #a8d1f1;
    --lightGrey: #525252;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

footer{
    width: 100vw;
    min-height: 80px;
    background-color: var(--secondary);
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: space-between;
    padding: 20px;
}

#informacoesFooter{
    display: flex;
    flex-direction: column;
}

#informacoesFooter>a{
    text-decoration: none;
    color: var(--lightGrey);
}
footer>div>a:hover{
    text-decoration: underline;
}

footer > address{
    text-align: center;
    flex: 1;
}

a[href="#produtos"] {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 500px) {
    footer{
        justify-content: center;
    }
    
}