*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:where(body){
    --black: #0f0f0f;
    --white: #F6F6F6;
    --primary: #242DE0;
    --secondary: #E0BB24;
    --blueHover: #dbefff;
    --blueLight: #a8d1f1;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#sobre{
    background-color: var(--secondary);
    padding: 20px 30px;
    text-align: justify;
    display: flex;
    justify-content: center;
}

#contentSobre{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contentSobre  >h2{
    text-align: center;
    margin: 20px 10px
}

#contentSobre >blockquote{
    margin: 20px 5px;
}

#contentSobre th, #contentSobre td {
  border-bottom: 1px solid #3f3f3f;
  padding: 5px;
}

#contentSobre thead{
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}

#contentSobre tr:nth-child(even) {background-color: var(--blueLight);}

#contentSobre meter{
    margin: 30px 10px;
    height: 20px;
    width: 100vw;
    max-width: 300px;
}