*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:where(body){
    --black: #0f0f0f;
    --white: #F6F6F6;
    --primary: #242DE0;
    --secondary: #E0BB24;
    --blueHover: #dbefff;
    --blueLight: #a8d1f1;
    --grey: #333333;
    --red: #cf432a;
    --redLight: #e98a79;
    --green: #3fc22e;
    --brown: #7D2D0A;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* Seção Header */

header{
    display: flex;
    flex-direction: column;
}

header>div{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    position: absolute;
    z-index: 999;
}

#logoHeader{
    font-family: 'Audiowide', system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    color: var(--secondary);
}

#logoHeader>span{
    font-size: 50px;
}

header > nav{
    height: 50px;
    margin: 15px 0px;
    border-radius: 12px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    z-index: 999;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px;
    list-style-type: none;
}

nav li{
    padding: 8px;
    border-radius: 8px;
}
nav a{
    text-decoration: none;
    color: var(--black);

}

nav li:hover{
    background-color: var(--secondary);
    
}

#buttonsHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#buttonsHeader>label{
    color: var(--secondary);
}

label[for=menuOpen]{
    display: none;
}

#badgeCart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
    background-color: var(--white);
    padding: 10px;
    border-radius: 12px;
}

#badgeCart>#iconCart{
    font-size: 2em;
    color: var(--secondary);
}

#badgeCart>#cartNumberBadge{
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: var(--secondary);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media (max-width: 900px) {
    header > div {
        position: static;
    }

    header{
        background-color: var(--blueHover);
    }
  
    label[for=menuOpen]{
        display: block;
    }

    header > nav {
        position: static;
        transform: none;
        height: fit-content;
        display: none; /* começa escondido */
        align-items: center;
        justify-content: center;
    }

    header > nav > ul {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
    }
  
    #menuOpen:checked ~ header > nav {
        display: flex; 
    }

    #logoHeader>span{
        font-size: 30px;
    }

    #logoHeader>h1{
        font-size: 25px;
    }

    #badgeCart>#cartNumberBadge{
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
}

/* Seção Carrossel */
#carrossel{ 
    overflow-x: clip;
}

#carrosselSlider{
    display: flex;
    width: 500%;
    transition: transform .6s ease;
    animation: scrollCarrossel 20s linear infinite;
}

#carrosselSlider:hover{
    animation-play-state: paused;
}

#carrossel::-webkit-scrollbar{
    display: none;
}

@keyframes scrollCarrossel {
    0%{
        transform: translateX(0);
    }
    5%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-100%);
    }
    20%{
        transform: translatex(-100%);
    }
    30%{
        transform: translatex(-200%);
    }
    40%{
        transform: translatex(-200%);
    }

    50%{
        transform: translatex(-300%);
    }
    60%{
        transform: translatex(-300%);
    }
    70%{
        transform: translatex(-400%);
    }
    80%{
        transform: translatex(-400%);
    }
    90%{
        transform: translatex(0%);
    }
    100%{
        transform: translateX(0%);
    }
}


.cardCarrossel{
    flex: 0 0 100vw;
    scroll-snap-align: start;
    padding: 50px;
    padding-top: 200px;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardCarrossel img{
    width: 500px;
    height: 500px;
}

.cardCarrossel>div{
    display: flex;
    flex-direction: column;
    height: min-content;
}

.cardCarrossel strong{
    font-size: 4em;
    color: var(--white);
}

.cardCarrossel s{
    font-size: 2em;
    opacity: 0.7;
}

.cardCarrossel ins{
    text-decoration: none;
    font-size: 3em;
    color: var(--secondary);
    font-weight: 800;
}

.cardCarrossel a{
    color: var(--black);
    text-decoration: none;
    display: flex;
    gap: 10px;
    background-color: var(--secondary);
    width: fit-content;
    padding: 12px;
    border-radius: 12px;
}

.sliderBtn{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

#labelsControle{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

#labelsControle > label{
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
}

#sliderBtn1:checked ~ label[for="sliderBtn1"]{
    background-color: var(--secondary);
    color: var(--white)
}

#sliderBtn1:checked ~ #carrosselSlider{
    animation: none;
    transform: translateX(0);
}

#sliderBtn2:checked ~ #carrosselSlider{
    animation: none;
    transform: translateX(-100%);
}
#sliderBtn3:checked ~ #carrosselSlider{
    animation: none;
    transform: translateX(-200%);
}

#sliderBtn4:checked ~ #carrosselSlider{
    animation: none;
    transform: translateX(-300%);
}
#sliderBtn5:checked ~ #carrosselSlider{
    animation: none;
    transform: translateX(-400%);
}


@media (max-width: 500px){
    .cardCarrossel strong{
        font-size: 2em;
    }

    #carrossel::scroll-button(right), #carrossel::scroll-button(left){
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
}


/* Seção categorias */
#categoriasSec > h2{
    text-align: center;
    font-size: 30px;
    color: var(--secondary);
}

#categoriasSec div{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 100vw;
}

#categoriasSec figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    aspect-ratio: 1;
    transition: all 200ms;
}

#categoriasSec figure:hover{
    background-color: var(--secondary);
    border-radius: 50%;
    cursor: pointer;
}

#categoriasSec img{
    min-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/*seção produtos */
main > h2{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    color: var(--secondary);
}

main>div{
    width: 100vw;
    display: flex;
}

aside{
    width: 20vw;
    max-width: 400px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

aside > #titulo{
    font-size: 25px;
    font-weight: 800;
}

div > select{
    margin-top: 20px;
}

aside fieldset, form > div{
    width: 100%;
    border: none;
    padding-top: 20px;
}

aside legend, aside label{
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    
}

aside input, select{
    width: 100%;
    border: 2px solid var(--black);
    height: 30px;
    border-radius: 8px;
    background-color: transparent;
    padding-left: 8px;
}

#precoField > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
#precoField{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#precoField > div input{
    flex: 2 0 50%
}

#marcasContent{
    height: 150px;
    overflow: auto;
}

fieldset label{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:8px;
}
fieldset label > input{
    width: min-content;
}

aside button{
    width: 100%;
    border: none;
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 12px;
    color: var(--white);
    cursor: pointer;
}

#fecharFiltros{display: none;}

#containerProdutos label[for="showFiltros"]{
    display: none;
}

#containerProdutos{
    flex: 1 1 100vw;
    min-height: 100vh;
    padding: 20px 30px;
}

#containerProdutos > div{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

#containerProdutos label{
    border: 1px solid #000;
    border-radius: 30px;
    padding: 8px;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

#containerProdutos label > input{
    flex: 1 0 300px;
    background-color: transparent;
    border: none;
    height: 30px;
}

#containerProdutos label > input:focus{
    outline: none;
}

#containerProdutos select{
    max-width: 300px;
    margin: 0;
    height: 40px;
}
#containerProdutos > section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
    flex-flow: row wrap;
    gap: 10px;
    padding: 20px;
}

#containerProdutos > section>a {
    text-decoration: none;
    color: var(--black);
}

.produtoCard{
    flex: 0 1 content;
    border: 1px solid var(--grey);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    gap: 10px
}

.produtoCard > img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    align-self: center;
}

.produtoCard > div, .modal .preco{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produtoCard ins, .modal ins{
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: var(--secondary);
}

.produtoCard > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey);
    border-radius: 12px;
}

.produtoCard input{
    max-width: 30px;
    text-align: center;
    width: 40px;
    height: 40px;
    border: none;
}

.produtoCard >div>div > button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.produtoCard >div> button{
    padding: 10px;
    border: none;
    background-color: var(--secondary);
    border-radius: 8px;
    color: var(--black);
    height: 50px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtoCard .preco, .modal .preco {
    flex-flow: row nowrap;
    border: none;
}

.produtoCard .preco > p, .modal .preco > p {
    font-size: 20px;
    color: var(--white);
    background-color: var(--primary);
    padding: 8px;
    border-radius: 8px;
}

.produtoCard .preco > div, .modal .preco > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    border: none;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .content{
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    anchor-name: --modal-anchor;
    max-width: 1100px;
    display: flex;
    gap: 20px;
}

.modal .content > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.modal .content .close {
    position: absolute;
    position-anchor: --modal-anchor;
    position-area: top left;
    font-size: 50px;
    color: var(--secondary);
    text-decoration: none;
}

.modal .content img{
    max-width: 600px;
    max-height: 600px;
}

.modal button{
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.preco + div, .preco+div>div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal input{
    width: 40px;
}

@media (max-width: 1200px){
    .modal:target {
        display: flex;
        align-items: end;
    }

    .modal .content{
        max-width: none;
        width: 100vw;
        flex-direction: column;
        border-radius: 12px 12px 0 0;
    }
    .content img {
        align-self: center;
        width: 90vw;
    }

    #containerProdutos{
        padding: 20px 10px;
    }

    #containerProdutos label{
        width: min-content;
    }

    #containerProdutos > section{
        padding: 10px;
    }

    #searchProdutos{
        display:none;
    }
    main aside{
        display: none;
    }

    main aside label[for="showFiltros"]{
        padding: 0;
        width: 100%;
        border: 1px solid red;
        padding: 10px 20px;
        border-radius: 12px;
        color: red;
        cursor: pointer;
    }

    #containerProdutos label[for="showFiltros"]{
        display: block;
        width: fit-content;
        display: flex;
        align-items: center;
    }

    #showFiltros:checked ~ #filtroProd{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        anchor-name: --showFiltro;
        width: 100vw;
        height: 100vh;
        max-width: none;
        background-color: rgba(0,0,0,0.5);
    }
    
    #filtroProd > div{
        width: 100vw;
        position: absolute;
        position-anchor: --showFiltro;
        position-area: top left;
        background-color: var(--white);
        max-width: none;
        padding: 50px;
        bottom: 0;
        right: 0;
    }

    #fecharFiltros{display: block;}

    #containerProdutos > div{
        justify-content: space-around;
    }

}

@media (max-width: 500px) {
    
    #containerProdutos> section{
        grid-template-columns: 1fr 1fr;
        flex: 1 1 100vw;
    }
    .produtoCard > img{
        width: 40vw;
        height: 40vw;
    }
    .produtoCard .preco{
        flex-direction: column;
        align-items: start;
    }
    article .preco + div, article .preco+div>div{
        display: none;
    }
}

#sobre{
    padding: 20px 30px;
    text-align: justify;
    display: flex;
    justify-content: center;
}

#contentSobre{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contentSobre  >h2{
    color:  var(--secondary);
    font-size: 30px;
    text-align: center;
    margin: 20px 10px
}

#contentSobre >blockquote{
    margin: 20px 5px;
}
#canvasSobre{
    height: 50px;
}

#contentSobre table{
    width: 100%;
}

#contentSobre th, #contentSobre td {
  border-bottom: 1px solid #3f3f3f;
  padding: 5px;
  text-align: center;
}

#contentSobre thead{
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}

#contentSobre tr:nth-child(even) {background-color: var(--blueLight);}

#contentSobre meter{
    height: 20px;
    width: 100vw;
    max-width: 300px;
}

#contentSobre div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;
}

#contentSobre div h4{
    margin-right: 15%;
    align-self: end;
}

#contentSobre details picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentSobre section{
    width: 100%;
    margin: 30px 20px;
    display:flex;
    flex-direction: column;
}

#contentSobre section > div{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#contentSobre section h2{
    text-align: center;
}
#contentSobre section embed{
    align-self: center;
}

#contentSobre dl{
    padding: 12px;
}

#contentSobre dt{
    font-size: 20px;
    font-weight: 700;
}

#contentSobre dd{
    padding-left: 20px;
    margin-bottom: 20px;
}

#contato{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#contato > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--white);
}

#contato input, #contato textarea{
    width: 100%;
    height: 40px;
    margin: 12px;
    padding: 5px 8px;
    border-radius: 8px;
    border: 1px solid var(--blueLight);
}

#contato textarea{
    height: 150px;
}

#contato progress{
    height: 30px;

}
    
#contato >form button{
    height: 40px;
    padding: 10px 30px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary);
    color: var(--white);
    align-self: end;; 
}