*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:where(body){
    --black: #0f0f0f;
    --white: #F6F6F6;
    --primary: #242DE0;
    --secondary: #E0BB24;
    --blueHover: #dbefff;
    --blueLight: #a8d1f1;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#sobre{
    background-color: var(--secondary);
    padding: 20px 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#sobre  >h2{
    text-align: center;
}

#sobre >blockquote{
    margin: 20px 5px;
}

#sobre th, #sobre td {
  border-bottom: 1px solid #3f3f3f;
  padding: 5px;
}

#sobre thead{
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}

#sobre tr:nth-child(even) {background-color: var(--blueLight);}