*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:where(body){
    --black: #0f0f0f;
    --white: #F6F6F6;
    --primary: #242DE0;
    --secondary: #E0BB24;
    --blueHover: #dbefff;
    --blueLight: #a8d1f1;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#contato{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#contato > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--white);
}

#contato input, #contato textarea{
    width: 100%;
    height: 40px;
    margin: 12px;
    padding: 5px 8px;
    border-radius: 8px;
    border: 1px solid var(--blueLight);
}

#contato textarea{
    height: 150px;
}

#contato progress{
    height: 30px;

}
    
#contato >form button{
    height: 40px;
    padding: 10px 30px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary);
    color: var(--white);
    align-self: end;;
}