*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:where(body){
    --black: #0f0f0f;
    --white: #F6F6F6;
    --primary: #242DE0;
    --secondary: #E0BB24;
    --blueHover: #dbefff;
    --blueLight: #a8d1f1;
    --red: #cf432a;
    --redLight: #e98a79;
    --green: #3fc22e;
    --brown: #7D2D0A;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#carrossel{ 
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carrossel;
}

#carrosselSlider{
    display: flex;
    width: calc(100vw*5);
    scroll-snap-type: x mandatory;
    animation: scrollCarrossel 15s linear infinite;
}

#carrosselSlider:hover{
    animation-play-state: paused;
}

#carrossel::-webkit-scrollbar{
    display: none;
}

@keyframes scrollCarrossel {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-100%);
    }
    20%{
        transform: translatex(-100%);
    }
    30%{
        transform: translatex(-200%);
    }
    40%{
        transform: translatex(-200%);
    }

    50%{
        transform: translatex(-300%);
    }
    60%{
        transform: translatex(-300%);
    }
    70%{
        transform: translatex(-400%);
    }
    80%{
        transform: translatex(-400%);
    }
    90%{
        transform: translatex(0%);
    }
    100%{
        transform: translateX(0%);
    }
    
}


.cardCarrossel{
    flex: 0 0 100vw;
    scroll-snap-align: start;
    padding: 50px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardCarrossel>div{
    display: flex;
    flex-direction: column;
}

.cardCarrossel strong{
    font-size: 4em;
    color: var(--white);
}

.cardCarrossel s{
    font-size: 2em;
    opacity: 0.7;
}

.cardCarrossel ins{
    text-decoration: none;
    font-size: 3em;
    color: var(--secondary);
    font-weight: 800;
}

@media (max-width: 500px){
    .cardCarrossel strong{
        font-size: 2em;
    }

    #carrossel::scroll-button(right), #carrossel::scroll-button(left){
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
}